{% extends 'xstudent/base.html' %}

{% block title %}
    {% if kit %}Edit Kit{% else %}Create New Kit{% endif %} - EduPulse
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h2>
                {% if kit %}Edit Kit: {{ kit.name }}{% else %}Create New Kit{% endif %}
            </h2>
            
            <div class="card">
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    {{ form.name.label_tag }}
                                    {{ form.name }}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    {{ form.kit_code.label_tag }}
                                    {{ form.kit_code }}
                                </div>
                            </div>
                        </div>

                        <div class="mb-3">
                            {{ form.description.label_tag }}
                            {{ form.description }}
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="mb-3">
                                    {{ form.price.label_tag }}
                                    {{ form.price }}
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="mb-3">
                                    {{ form.status.label_tag }}
                                    {{ form.status }}
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="mb-3">
                                    <div class="form-check">
                                        {{ form.is_mandatory }}
                                        {{ form.is_mandatory.label_tag }}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    {{ form.stock_quantity.label_tag }}
                                    {{ form.stock_quantity }}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    {{ form.minimum_stock.label_tag }}
                                    {{ form.minimum_stock }}
                                </div>
                            </div>
                        </div>

                        <div class="mb-3">
                            {{ form.contents.label_tag }}
                            {{ form.contents }}
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    {{ form.supplier.label_tag }}
                                    {{ form.supplier }}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    {{ form.supplier_contact.label_tag }}
                                    {{ form.supplier_contact }}
                                </div>
                            </div>
                        </div>

                        <div class="d-flex justify-content-between">
                            <a href="{% url 'kit_list' %}" class="btn btn-secondary">Cancel</a>
                            <button type="submit" class="btn btn-primary">
                                {% if kit %}Update Kit{% else %}Create Kit{% endif %}
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} 