{% extends 'xstudent/base.html' %}
{% block title %}Exam Requests{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="card shadow">
        <div class="card-header">
            <h5><i class="fas fa-file-alt"></i> Exam Requests</h5>
        </div>
        <div class="card-body">
            <p class="text-center text-muted py-5">
                Exam request management is being implemented.<br>
                <small>This page will show all faculty exam creation requests.</small>
            </p>
        </div>
    </div>
</div>
{% endblock %}
